<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<title>アサイン履歴情報登録入力</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="page-title-area">
			<h2>アサイン履歴情報の新規登録</h2>
		</div>
		<div class="card form-card">
			<form th:action="@{/assignments}" th:object="${assignmentForm}" method="post">

				<div class="alert alert-danger" th:if="${#fields.hasGlobalErrors()}">
					<p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
				</div>

				
				<div class="form-group">
					<label>社員名 <span class="badge-required">必須</span></label>
					<!--コンボボックス-->
					<select id="assignments" name="cmb_emp_name">
					  <option value="">未選択</option>
					  <option th:each="assign : ${assignments}"
					          th:value="${assign.assignmentId}"
					          th:text="${assign.empName}">
					  </option>
					</select>
					<div class="error-message" th:if="${#fields.hasErrors('empId')}" th:errors="*{empId}">
					</div>
				</div>
				
				<div class="form-group">
					<label>企業名 <span class="badge-required">必須</span></label>
					<select id="assignments" name="cmb_company_name">
					  <option value="">未選択</option>
					  <option th:each="assign : ${assignments}"
					          th:value="${assign.assignmentId}"
					          th:text="${assign.companyName}">
					  </option>
					</select>
					<div class="error-message" th:if="${#fields.hasErrors('companyId')}" th:errors="*{companyId}">
					</div>
				</div>
				
				<div class="form-group form-group-search">
	 	           <label>契約開始日</label>
                    <input type="date" id="txt_contract_start_date" name="txt_contract_start_date"
                           class="form-control" th:value="${txt_contract_start_date}">
                </div>
				
				<div class="form-group form-group-search">
                    <label>契約終了日</label>
                    <input type="date" id="txt_contract_end_date" name="txt_contract_end_date"
                           class="form-control" th:value="${txt_contract_end_date}">
                </div>
				
				<div class="form-group">
                    <label>契約単価</label>
                    <input type="text" id="txt_unit_price" name="txt_unit_price" maxlength="10"
                           class="form-control" th:value="${txt_unit_price}" placeholder="例：100000">
                </div>
				
				<div class="form-group">
					<label>役割 <span class="badge-required">必須</span></label>
					<select id="assignments" name="cmb_role_id">
					 <option value="">未選択</option>
					 <option th:each="assign : ${assignments}"
					          th:value="${assign.assignmentId}"
					          th:text="${assign.roleId}">
					  </option>
					</select>
					<div class="error-message" th:if="${#fields.hasErrors('roleId')}" th:errors="*{roleId}">
					</div>
				</div>
				
				<div class="form-actions">
					<button type="submit" class="btn btn-primary">登録</button>
					<a th:href="@{/assignments}" class="btn btn-secondary">戻る</a>
				</div>
			</form>
		</div>
	</div>
</body>

</html>