<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8">
	<title>アサイン履歴情報詳細</title>
</head>

<body>
	<div layout:fragment="content">

		<div>
			<div class="page-title-area">
				<h2>アサイン履歴情報詳細</h2>
			</div>

			<div class="card">
				<table class="table detail-table">

					<tr>
						<th>作成日時</th>
						<td th:text="${#temporals.format(assignment.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
					</tr>

					<tr>
						<th>更新日時</th>
						<td th:text="${#temporals.format(assignment.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
					</tr>

					<tr>
						<th>社員名</th>
						<td th:text="${assignment.employee.lastName} + ' ' + ${assignment.employee.firstName}"></td>
					</tr>

					<tr>
						<th>社員名カナ</th>
						<td th:text="${assignment.employee.lastNameKana} + ' ' + ${assignment.employee.firstNameKana}"></td>
					</tr>

					<tr>
						<th>アサイン先企業</th>
						<td th:text="${assignment.company.companyName}"></td>
					</tr>

					<tr>
						<th>エンジニアタイプ</th>
						<td th:text="${assignment.employee.engineerType}"></td>
					</tr>

					<tr>
						<th>所属企業</th>
						<td th:text="${assignment.employee.company.companyName}"></td>
					</tr>

					<tr>
						<th>所属企業カナ</th>
						<td th:text="${assignment.employee.company.companyNameKana}"></td>
					</tr>

					<tr>
						<th>契約開始日</th>
						<td th:text="${assignment.contractStartDate}"></td>
					</tr>
					<tr>
						<th>契約終了日</th>
						<td th:text="${assignment.contractEndDate != null ? assignment.contractEndDate : 'ー'}"></td>
					</tr>

					<tr>
						<th>契約単価</th>
						<td th:text="${#numbers.formatInteger(assignment.unitPrice, 3, 'COMMA')+ ' 円'}"></td>
					</tr>
					<tr>
						<th>役割</th>
						<td th:text="${assignment.role.role}"></td>
					</tr>
				</table>
				<div class="form-actions detail-actions">
					<a th:href="@{/assignments/{id}/edit(id=${assignment.assignmentId}, from='detail')}"
						class="btn btn-primary detail-btn">変更
					</a>


					<form th:action="@{/assignments/{id}/delete(id=${assignment.assignmentId})}" method="post">
						<button type="button"
							class="btn modal-btn-danger detail-btn" title="削除"
							th:onclick="|openDeleteModal(${assignment.assignmentId})|">削除
						</button>
					</form>

					<a th:href="@{/assignments}" class="btn btn-secondary detail-btn">戻る
					</a>
				</div>
			</div>
		</div>
	</div>
</body>

</html>