<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<title>論理削除アカウント情報エクスポート</title>
	<meta charset="UTF-8">
</head>

<body>
	<div layout:fragment="content">
		<div class="page-title-area">
			<h2>論理削除アカウント情報エクスポート</h2>
		</div>
		<div class="card form-card-wide">
			<p class="instruction">以下の条件と内容でCSVファイルを出力します。よろしければ「エクスポート」ボタンを押してください。</p>

			<div class="export-confirm-box">
				<h4 class="export-confirm-title">出力条件の確認</h4>
				<table class="export-table">
					<tr>
						<td class="label">出力対象件数:</td>
						<td class="value"><span class="export-count" th:text="${count}">0</span> 件</td>
					</tr>
					<tr>
						<td class="label">文字コード:</td>
						<td class="value">UTF-8 (BOMあり)</td>
					</tr>
				</table>

				<div class="table-scroll export-table">
					<table class="table header-only-table table-dark">
						<thead>
							<tr>
								<th>アカウントID</th>
								<th>ログインID</th>
								<th>パスワード</th>
								<th>権限</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="account : ${accounts}">
								<td th:text="${account.accountId}" class="acc_id"></td>
								<td th:text="${account.loginId}" class="acc_logId"></td>
								<td th:text="''" class="acc_pas"></td>
								<td th:text="${account.permission == 1 ? '管理' : '一般'}" class="acc_per"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<p class="export-note">※詳細情報がエクスポートされます。</p>
			</div>
			<div class="action-area">
				<form th:action="@{/deleted-accounts/export/download}" method="post">
					<input type="hidden" name="ids" th:value="${id}" th:each="id : ${ids}">
					<button type="submit" class="btn btn-primary common-btn">エクスポート</button>
					<button type="button" id="btn_account_back" class="btn-back"
						th:onclick="|location.href='@{/deleted-accounts}'|">戻る</button>
				</form>
			</div>
		</div>
	</div>
</body>

</html>rm>
			</div>
		</div>
	</div>
</body>

</html>