<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<title>社員情報登録入力</title>
</head>

<body>


	<h2>社員情報登録入力</h2>
	</div>


	<div>
		<label>社員姓</label>
		<div></div>
		<input type="text">
	</div>
	<div>
		<label>社員名</label>
		<div></div>
		<input type="text">
	</div>
	<div>
		<label>社員姓カナ</label>
		<div></div>
		<input type="text">
	</div>
	<div>
		<label>社員名カナ</label>
		<div></div>
		<input type="text">
	</div>
	<div>
		<label>生年月日</label>
		<div></div>
		<input type="text">
	</div>
	<div>
		<label>入社年月</label>
		<div></div>
		<input type="text">
	</div>
	<div>
		<label>勤続年数</label>
		<div></div>
		<input type="text">
	</div>
	<div>
		<label>郵便番号</label>
		<div></div>
		<input type="text">
	</div>
	<div>
		<label>住所１</label>
		<div></div>
		<input type="text">
	</div>
	<div>
		<label>住所２</label>
		<div></div>
		<input type="text">
	</div>
	<div>
		<label>電話番号</label>
		<div></div>
		<input type="text">
	</div>
	<div>
		<label>メールアドレス</label>
		<div></div>
		<input type="text">
	</div>
	<div>

		<label>エンジニアタイプ</label>
		<div>
			<select>
				<option value="">未選択</option>
				<option value="">プロパー</option>
				<option value="">パートナー</option>
			</select>

		</div>
		<div>
			<label>所属企業</label>
			<div>
				<select>
					<option value="">未選択</option>
					<option value=""></option>

				</select>

			</div>
			<div>
				<label>ログインID</label>
				<div>
					<select>
						<option value="">未選択</option>
						<option value=""></option>

					</select>
				</div>
				<div>
					<label>所属部署</label>
					<div></div>
					<input type="text">
				</div>
				<div>
					<label>役職</label>
					<div></div>
					<input type="text">
				</div>
				<div>
					<div>
						<button type="submit">登録</button>
						<a>戻る</a>
					</div>

				</div>

				</form>
			</div>
		</div>
</body>

</html>