<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<script src="https://yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
	<title>社員情報変更入力</title>
	<link rel="stylesheet" th:href="@{/css/employee.css}">
</head>

<body>
	<div layout:fragment="content">
		<div class="page-title-area">
			<h2>社員情報変更入力</h2>
		</div>
		<div class="card form-card">
			<form th:action="@{/employees/{id}/edit(id=${id})}" th:object="${employeeForm}" method="post" class="h-adr">
				<input type="hidden" th:field="*{empId}">
				<input type="hidden" name="fromPage" th:value="${fromPage}" />
				<div class="form-group">
					<label>社員姓<span class="badge-required">必須</span></label>
					<input type="text" th:field="*{lastName}" class="form-control fixed-all30"
						th:classappend="${#fields.hasErrors('lastName')} ? 'input-error'">
					<div class="error-message" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
				</div>
				<div class="form-group">
					<label>社員名<span class="badge-required">必須</span></label>
					<input type="text" th:field="*{firstName}" class="form-control fixed-all30"
						th:classappend="${#fields.hasErrors('firstName')} ? 'input-error'">
					<div class="error-message" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
				</div>
				<div class="form-group">
					<label>社員姓カナ<span class="badge-required">必須</span></label>
					<input type="text" th:field="*{lastNameKana}" class="form-control fixed-all30"
						th:classappend="${#fields.hasErrors('lastNameKana')} ? 'input-error'">
					<div class="error-message" th:if="${#fields.hasErrors('lastNameKana')}" th:errors="*{lastNameKana}">
					</div>
				</div>
				<div class="form-group">
					<label>社員名カナ<span class="badge-required">必須</span></label>
					<input type="text" th:field="*{firstNameKana}" class="form-control fixed-all30"
						th:classappend="${#fields.hasErrors('firstNameKana')} ? 'input-error'">
					<div class="error-message" th:if="${#fields.hasErrors('firstNameKana')}"th:errors="*{firstNameKana}"></div>
				</div>
				<div class="form-group">
					<label>生年月日</label>
					<input type="date" max="9999-12-31" th:field="*{birthDate}" class="form-control fixed-half13"
						th:classappend="${#fields.hasErrors('birthDate')} ? 'input-error'">
					<div class="error-message" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}">
					</div>
				</div>
				<div class="form-group">
					<label>入社年月</label>
					<input type="date" id="hireDate" max="9999-12-31" th:field="*{hireDate}" class="form-control fixed-half13"
						th:classappend="${#fields.hasErrors('hireDate')} ? 'input-error'">
					<div class="error-message" th:if="${#fields.hasErrors('hireDate')}" th:errors="*{hireDate}"></div>
				</div>
				<div class="form-group">
					<label>勤続年数(自動入力されます)</label>
					<input type="text" id="yearsOfService" th:field="*{yearsOfService}" class="form-control fixed-half3"
						th:classappend="${#fields.hasErrors('yearsOfService')} ? 'input-error'">
					<div class="error-message" th:if="${#fields.hasErrors('yearsOfService')}"th:errors="*{yearsOfService}"></div>
				</div>
				<div class="form-group">
					<input type="hidden" class="p-country-name" value="Japan">
					<label>郵便番号<span class="badge-required">必須</span></label>
					<input type="text" th:field="*{zipCode}" class="form-control fixed-half7"
						th:classappend="${#fields.hasErrors('zipCode')} ? 'form-control p-postal-code input-error' : 'form-control p-postal-code'">
					<div class="error-message" th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}">
					</div>
					<div class="form-group">
						<label>住所1(自動入力されます) <span class="badge-required">必須</span></label>
						<input type="text" th:field="*{address1}" class="form-control fixed-all30"
							th:classappend="${#fields.hasErrors('address1')} ? 'form-control p-region p-locality p-street-address p-extended-address input-error' : 'form-control p-region p-locality p-street-address p-extended-address'">
						<div class="error-message" th:if="${#fields.hasErrors('address1')}" th:errors="*{address1}"></div>
					</div>
					<div class="form-group">
						<label>住所２</label>
						<input type="text" th:field="*{address2}" class="form-control fixed-all30"
							th:classappend="${#fields.hasErrors('address2')} ? 'input-error'">
						<div class="error-message" th:if="${#fields.hasErrors('address2')}" th:errors="*{address2}">
						</div>
					</div>
					<div class="form-group">
						<label>電話番号<span class="badge-required">必須</span></label>
						<input type="text" th:field="*{empTel}" class="form-control fixed-half11"
							th:classappend="${#fields.hasErrors('empTel')} ? 'input-error'">
						<div class="error-message" th:if="${#fields.hasErrors('empTel')}" th:errors="*{empTel}"></div>
					</div>
					<div class="form-group">
						<label>メールアドレス<span class="badge-required">必須</span></label>
						<input type="text" th:field="*{email}" class="form-control fixed-all30"
							th:classappend="${#fields.hasErrors('email')} ? 'input-error'">
						<div class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
					</div>
					<div class="form-group">
						<label>エンジニアタイプ<span class="badge-required">必須</span></label>
						<select id="engineerType" name="engineerType" th:field="*{engineerType}"
							class="dropdown form-control fixed-all30"
							th:classappend="${#fields.hasErrors('engineerType')} ? 'input-error'">
							    <option value="">未選択</option>
							    <option value="プロパー">プロパー</option>
							    <option value="パートナー">パートナー</option>
						</select>
						<div class="error-message" th:if="${#fields.hasErrors('engineerType')}"th:errors="*{engineerType}"></div>
					</div>
					<div class="form-group">
						<div id="loginIdArea" style="display: none;">
							    <label>ログインID<span class="badge-required">必須</span></label>
							<select id="loginId" th:field="*{accountId}" class="dropdown form-control fixed-all30"
							th:classappend="${#fields.hasErrors('accountId')} ? 'input-error select-error' : ''">>
									<option value="" th:text="${employee?.account?.loginId ?: '未選択'}"></option>>
								<option th:each="account : ${accounts}" th:value="${account.accountId}"
									th:text="${account.loginId}">
								</option>
							</select>
							<div class="error-message" th:if="${#fields.hasErrors('accountId')}"th:errors="*{accountId}"></div></div>
						</div>
						<div class="form-group">
							<div id="companyArea" style="display: none;">
								    <label>所属企業<span class="badge-required">必須</span></label>
								<select id="companyId" th:field="*{companyId}" class="dropdown form-control fixed-all30"
								th:classappend="${#fields.hasErrors('companyId')} ? 'input-error select-error' : ''">>
									   <option value="">未選択</option>
									<option th:each="company : ${companies}" th:value="${company.companyId}"th:text="${company.companyName}"></option>
								</select>
								<div class="error-message" th:if="${#fields.hasErrors('companyId')}"
									th:errors="*{companyId}"></div>
							</div>
							</div>
							<div class="form-group">
								<div>
									<label>所属部署</label>
									<input type="text" th:field="*{department}" class="form-control fixed-all30"
										th:classappend="${#fields.hasErrors('department')} ? 'input-error'">
									<div class="error-message" th:if="${#fields.hasErrors('department')}"th:errors="*{department}"></div>
								</div>
								<div class="form-group">
									<label>役職</label>
									<input type="text" th:field="*{jobTitle}" class="form-control fixed-all30"
										th:classappend="${#fields.hasErrors('jobTitle')} ? 'input-error'">
									<div class="error-message" th:if="${#fields.hasErrors('jobTitle')}"th:errors="*{jobTitle}"></div>
								</div>
								<div class="form-actions common-actions action-area action-area-wide">
									<button type="submit" class="btn btn-primary common-btn">変更</button>
									<a th:if="${fromPage == 'detail'}" th:href="@{/employees/{id}/detail(id=${id})}"
										class="btn btn-secondary common-btn">戻る</a>
									<a th:if="${fromPage != 'detail'}" th:href="@{/employees}"
										class="btn btn-secondary common-btn">戻る</a>
								</div>
		            	</form>
	           	</div>
		<script>
			function toggleEngineerAreas() {
				const engineerTypeSelect = document.getElementById('engineerType');
				const loginIdArea = document.getElementById('loginIdArea');
				const companyArea = document.getElementById('companyArea');

				
				if (!engineerTypeSelect) return;

				const currentType = engineerTypeSelect.value;

				
				if (currentType === 'プロパー') {
					loginIdArea.style.display = 'block';
					companyArea.style.display = 'none';
				} else if (currentType === 'パートナー') {
					loginIdArea.style.display = 'none';
					companyArea.style.display = 'block';
				} else {
					loginIdArea.style.display = 'none';
					companyArea.style.display = 'none';
				}
			}

			document.getElementById('engineerType').addEventListener('change', toggleEngineerAreas);

			window.addEventListener('DOMContentLoaded', toggleEngineerAreas);
		</script>
</body>

</html>