<!DOCTYPE html>
<html>
	
<head>
<meta charset="UTF-8">
	<title>社員情報エクスポート</title>
</head>

<body>
	<div>
		<h2>社員情報エクスポート</h2>
	</div>
	
	<div>
		<p>
			以下の内容でCSVファイルを出力します。<br>
			よろしければ「エクスポート」ボタンを教えてください。
		</p>
		
		<div>
			<h4>出力条件の確認</h4>
			
			<table>
				<tr>
					<td>出力対象件数:</td>
					<td><span>0</span> 件</td>
				</tr>
				<tr>
					<td>文字コード:</td>
					<td>UTF-8 (BOMあり)</td>
				</tr>
			</table>
			
			<table>
				<thead>
				<tr>
					<th>社員ID</th>
					<th>社員名</th>
					<th>アサイン先企業</th>
					<th>所属企業</th>
				</tr>
				</thead>
				
				<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				</tbody>
			</table>
			
			<button>エクスポート</button>
			<a>戻る</a>
			
		</div>
	</div>
</body>

</html>