<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	>

<head>
	<title>社員情報インポート</title>
</head>

<body>
	<div>
		
			<h2>社員情報インポート</h2>
			
				CSVファイルを選択して社員情報を一括登録・更新します。<br>
				※既存の社員IDと一致する場合は上書き更新、空欄の場合は新規登録されます。
			</p>
			<form>
				<div>
					
					<p>社員情報データCSVを選択してください</pp>
					<p>対応形式: .csv (UTF-8)/ BOMあり推奨、最大 5MB</p>
					<input type="file" name="file" accept=".csv">
				</div>
				<div>
					<a th:href="@{/employees/import/template}" class="template-link">CSVテンプレートをダウンロード</a>
				</div>
				<div>
					<button>インポート</button>
					<a>戻る</a>
				</div>
			</form>

	
		</div>
	</div>
</body>

</html>