<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<title>社員情報インポート</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="import-container">
			<div class="page-title-area">
			 <h2>社員情報インポート</h2>
			</div>
			<div class="card">
				<p class="instruction">CSVファイルを選択して社員情報を一括登録・更新します。
					<br>※既存の社員IDと一致する場合は上書き更新、空欄の場合は新規登録されます。
					<br>※エンジニアタイプにより、登録される項目が異なります。
					<br>・プロパー … ログインIDのみ登録（所属企業は登録されません）
					<br>・パートナー … 所属企業のみ登録（ログインIDは登録されません）
				</p>
					
				<form th:action="@{/employees/import}" method="post" enctype="multipart/form-data">
					<div class="upload-zone">
						<p class="upload-zone-title">社員情報データCSVを選択してください</p>
						<p class="upload-zone-format">対応形式: .csv (UTF-8 / BOMあり推奨、最大 5MB)</p>
						<div class="upload-zone-filebox">
							<input type="file" name="file" accept=".csv" required class="form-control">
						</div>
					</div>
					<div class="template-link-area">
						<a th:href="@{/employees/import/template}" class="template-link">CSVテンプレートをダウンロード</a>
					</div>
					<div class="action-area action-area-wide form-actions common-actions" >
						<button type="submit" class="btn-import">インポート</button>
						<button type="button" class="btn-back" th:onclick="|location.href='@{/employees}'|">戻る</button>
					</div>
					<p th:if="${errorMessage}" th:text="${errorMessage}" class="errorMessage"></p>
				</form>
			</div>
			<div class="card result-area" th:if="${importResult != null}">
				<div class="result-title-row">
					<h3 class="result-title">処理結果</h3>
				    <span th:if="${!importResult.errors.isEmpty() and importResult.errors[0].field == '上限'}" 
					th:text="${importResult.errors[0].message}" class="result-error-message"></span>
				</div>
				<div class="summary-box">
					<div class="summary-item summary-success">
						正常取り込み
						<span class="summary-value" th:text="${importResult.successCount} + ' 件'"></span>
					</div>
					<div class="summary-item summary-error">
						エラー
						<span class="summary-value" th:text="${importResult.errorCount} + ' 件'"></span>
					</div>
				</div>
				<div th:if="${importResult.errorCount > 0}">
					<p class="error-table-msg">以下の行でエラーが発生したため、取り込みをキャンセルしました。</p>
					<p class="error-table-msg">内容を修正して再アップロードしてください。</p>
					<table class="table">
						<thead class="table-dark">
							<tr>
								<th>行数</th>
								<th>対象項目</th>
								<th>エラー内容</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="error : ${importResult.errors}" th:if="${error.field != '上限'}" class="error-row">
								<td th:text="${error.rowNum} + '行目'"></td>
								<td th:text="${error.field}"></td>
								<td th:text="${error.message}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>

</html>