<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<script src="https://yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
	<title>企業情報登録入力</title>
	<link rel="stylesheet" th:href="@{/css/company.css}">
</head>

<body>
	<div layout:fragment="content">
		<div class="page-title-area">
			<h2>企業情報登録入力</h2>
		</div>
		<div class="card form-card">
			<form th:action="@{/companies}" th:object="${companyForm}" method="post" class ="h-adr">

				<div class="alert alert-danger" th:if="${#fields.hasGlobalErrors()}">
					<p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
				</div>

				<div class="form-group">
					<label>企業名 <span class="badge-required">必須</span></label>
					<input type="text" th:field="*{companyName}" class="form-control fixed-all30"
						th:classappend="${#fields.hasErrors('companyName')} ? 'input-error'"
						placeholder="例：株式会社システム">
					<div class="error-message" th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}">
					</div>
				</div>
				<div class="form-group">
					<label>企業名カナ <span class="badge-required">必須</span></label>
					<input type="text" th:field="*{companyNameKana}" class="form-control fixed-all30"
						th:classappend="${#fields.hasErrors('companyNameKana')} ? 'input-error'"
						placeholder="例：カブシキガイシャシステム">
					<div class="error-message" th:if="${#fields.hasErrors('companyNameKana')}" th:errors="*{companyNameKana}">
					</div>
				</div>
				<div class="form-group">
					<label>設立年度 </label>
					<input type="text" th:field="*{foundedYear}" class="form-control fixed-half5"
						th:classappend="${#fields.hasErrors('foundedYear')} ? 'input-error'"
						placeholder="例：2026">
					<div class="error-message" th:if="${#fields.hasErrors('foundedYear')}" th:errors="*{foundedYear}">
					</div>
				</div>
				<div class="form-group">
					<label>社員数 </label>
					<input type="text" th:field="*{employeeCount}" class="form-control fixed-half5"
						th:classappend="${#fields.hasErrors('employeeCount')} ? 'input-error'"
						placeholder="例：100">
					<div class="error-message" th:if="${#fields.hasErrors('employeeCount')}" th:errors="*{employeeCount}">
					</div>
				</div>
				<div class="form-group">
					<input type="hidden" class="p-country-name" value="Japan">
					<label>郵便番号<span class="badge-required">必須</span></label>
					<input type="text" th:field="*{companyZipCode}" class="form-control fixed-half5 p-postal-code"
						th:classappend="${#fields.hasErrors('companyZipCode')} ? 'input-error'"
						placeholder="例：1020073">
					<div class="error-message" th:if="${#fields.hasErrors('companyZipCode')}" th:errors="*{companyZipCode}">
					</div>
				</div>
				<div class="form-group">
					<label>住所1(自動入力されます) <span class="badge-required">必須</span></label>
					<input type="text" th:field="*{companyAddress1}" class="form-control fixed-all30 p-region p-locality p-street-address p-extended-address"
						th:classappend="${#fields.hasErrors('companyAddress1')} ? 'input-error'"
						placeholder="例：東京都千代田区九段北">
					<div class="error-message" th:if="${#fields.hasErrors('companyAddress1')}" th:errors="*{companyAddress1}">
					</div>
				</div>
				<div class="form-group">
					<label>住所2 </label>
					<input type="text" th:field="*{companyAddress2}" class="form-control fixed-all30"
						th:classappend="${#fields.hasErrors('companyAddress2')} ? 'input-error'"
						placeholder="例：1-1-1-1システムビル2F">
					<div class="error-message" th:if="${#fields.hasErrors('companyAddress2')}" th:errors="*{companyAddress2}">
					</div>
				</div>
				<div class="form-group">
					<label>TEL <span class="badge-required">必須</span></label>
					<input type="text" th:field="*{companyTel}" class="form-control fixed-half20"
						th:classappend="${#fields.hasErrors('companyTel')} ? 'input-error'"
						placeholder="例：0000000000">
					<div class="error-message" th:if="${#fields.hasErrors('companyTel')}" th:errors="*{companyTel}">
					</div>
				</div>
				<div class="form-group">
					<label>FAX </label>
					<input type="text" th:field="*{companyFax}" class="form-control fixed-half20"
						th:classappend="${#fields.hasErrors('companyFax')} ? 'input-error'"
						placeholder="例：0000000000">
					<div class="error-message" th:if="${#fields.hasErrors('companyFax')}" th:errors="*{companyFax}">
					</div>
				</div>
				<div class="form-group">
					<label>代表者姓</label>
					<input type="text" th:field="*{repLastName}" class="form-control fixed-all30"
						th:classappend="${#fields.hasErrors('repLastName')} ? 'input-error'"
						placeholder="例：鈴木">
					<div class="error-message" th:if="${#fields.hasErrors('repLastName')}" th:errors="*{repLastName}">
					</div>
				</div>
				<div class="form-group">
					<label>代表者名</label>
					<input type="text" th:field="*{repFirstName}" class="form-control fixed-all30"
						th:classappend="${#fields.hasErrors('repFirstName')} ? 'input-error'"
						placeholder="例：太郎">
					<div class="error-message" th:if="${#fields.hasErrors('repFirstName')}" th:errors="*{repFirstName}">
					</div>
				</div>
				<div class="form-group">
					<label>代表者姓カナ</label>
					<input type="text" th:field="*{repLastNameKana}" class="form-control fixed-all30"
						th:classappend="${#fields.hasErrors('repLastNameKana')} ? 'input-error'"
						placeholder="例：スズキ">
					<div class="error-message" th:if="${#fields.hasErrors('repLastNameKana')}" th:errors="*{repLastNameKana}">
					</div>
				</div>
				<div class="form-group">
					<label>代表者名カナ</label>
					<input type="text" th:field="*{repFirstNameKana}" class="form-control fixed-all30"
						th:classappend="${#fields.hasErrors('repFirstNameKana')} ? 'input-error'"
						placeholder="例：タロウ">
					<div class="error-message" th:if="${#fields.hasErrors('repFirstNameKana')}" th:errors="*{repFirstNameKana}">
					</div>
				</div>
				<div class="form-actions form-actions-area-wide" style="display: flex; justify-content:center;">
					<button type="submit" class="btn btn-primary">登録</button>
					<a th:href="@{/companies}" class="btn btn-secondary">戻る</a>
				</div>
			</form>
		</div>
	</div>
</body>

</html>