@charset "UTF-8";

/* =========================================
   Components (カード、テーブル)
========================================= */
.table {
	width: 100%;
	border-collapse: collapse;
}

.table th,
.table td {
	border-bottom: 1px solid #ddd;
	padding: 12px;
	text-align: left;
}

.table th {
	font-weight: bold;
}

.table-dark th:col-checkbox {
	width: 50px;
	text-align:center;
	
	background-color: #2c3e50;
	color: white;
	border-bottom: none;
}


.export-contents{
	width:60%;
	margin:auto auto;
}

/* アカウントID（半角3文字） */
.table-dark th:nth-child(2),
.table-dark td:nth-child(2){
	width: 4em;
    white-space: nowrap;
}

/* ログインID（半角12文字） */
.table-dark th:nth-child(3),
.table-dark td:nth-child(3) {
    width: 12em;
    white-space: nowrap;
}

/* 権限（全角2文字） */
.table-dark th:nth-child(4),
.table-dark td:nth-child(4) {
    width: 4em;
    white-space: nowrap;
}

/* 社員名 */
.table-dark th:nth-child(5),
.table-dark td:nth-child(5) {
    width: 20em;
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
}

/* 操作列 */
.table-dark .col-action {
    width: 5em;
}

/* アカウントID（半角3文字） */
.acc_id{
	width:6em !important;
}

.acc_logId{
	width:12em !important;
}

.acc_per{
	width:4em !important;
}

.acc_pas{
	width:8em !important;
}



/* =========================================*/
/*   Buttons & Toolbars (ボタンとツールバー)*/
/*========================================= */

.btn-search-position{
	transform:translate(70px, 8px);
}
/* =========================================
   Forms & Validation (入力フォームとエラー)
========================================= */
.search-row {
	display: flex;
	gap: 20px;
}

.search-row .form-group {
	flex: 1;
}
.search-form{
	display: flex;
    align-items: center;
}

.search-item{
	width:350px;
}

.search-item.input{
    display: flex;
    flex-direction: column;
    width: 350px;
}

.search-item.button{
    flex: 0 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
	margin-bottom: 15px;
}

.form-group-search {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 80px;
}

.form-group label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

.form-control {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.form-card {
	max-width: 800px;
	margin: 0 auto;
}

.form-help-text {
	font-size: 0.85rem;
	color: #64748b;
	margin-top: 0;
	margin-bottom: 8px;
}

.form-actions {
	margin-top: 25px;
	display: flex;
	gap: 10px;
	justify-content: center;
}
