@charset "UTF-8";


.fixed-all30 {
	width: 60ch;
	overflow: hidden;
	font-family: monospace;
	padding: 6px 8px;
}


.fixed-half4 {
	width: 7ch;
	overflow: hidden;
	font-family: monospace;
	padding: 6px 8px;
}


.fixed-half11 {
	width: 15ch;
	overflow: hidden;
	font-family: monospace;
	padding: 6px 8px;
}


.fixed-half5 {
	width: 8ch;
	overflow: hidden;
	font-family: monospace;
	padding: 6px 8px;
}



.fixed-half7 {
	width: 10ch;
	overflow: hidden;
	font-family: monospace;
	padding: 6px 8px;
}

.detail-table td {
	word-break: break-all;
}

.fixed-half20 {
	width: 20ch;
	overflow: hidden;
	font-family: monospace;
	padding: 6px 8px;
}

