@charset "UTF-8";

.form-group-search{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 70px; 
	row-gap: 20px;    
}

.employee-table {
    table-layout: fixed; 
}

.col-checkbox {
    width: 40px;
    min-width: 40px;
    text-align: center;
}


.employee-table th:nth-child(2),
.employee-table td:nth-child(2) {
    width: 60px;
    min-width: 60px;
    text-align: center;
}


.fixed-half3 {
	width: 7ch;
	overflow: hidden;
	font-family: monospace;
	padding: 6px 8px;
}

.fixed-half7 {
	width: 10ch;
	overflow: hidden;
	font-family: monospace;
	padding: 6px 8px;
}

.fixed-half11 {
	width: 15ch;
	overflow: hidden;
	font-family: monospace;
	padding: 6px 8px;
}

.fixed-half13 {
	width: 17ch;
	overflow: hidden;
	font-family: monospace;
	padding: 6px 8px;
}


.fixed-all30{
	width: 55ch;
	overflow: hidden;
	font-family: monospace;
	padding: 6px 8px;
}

/* export画面用テーブルのスクロール */
.export-table-scroll {
	max-height: 290px;
	overflow-y: auto;
}


/* 一覧画面用テーブルのスクロール */
.table-scroll {
	max-height: 340px;
	overflow-y: auto;
}





















