* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, "Yu Gothic", "Meiryo", sans-serif;
    color: #1f4e79;
    background-color: #244f80;
}

.login-page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card {
    width: 500px;
    height: 720px;
    padding: 30px;
    background-color: #ffffff;
    position: relative;

    /* 追加 */
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.login-title {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #1f4e79;
}

.title-line {
    width: 100%;
    height: 2px;
    margin: 14px 0 40px;
    background-color: #1f4e79;
}

.form-group {
    width: 320px;
    margin: 0 auto 30px;
}

.form-label {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 700;
}

.required-badge {
    display: inline-block;
    padding: 2px 8px;
    font-size: 10px;
    font-weight: 700;
    color: #ffffff;
    background-color: #d90000;
    border-radius: 4px;
}

/* テキストボックス */
.form-input {
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 15px;

    border: 2px solid #1f4e79;
    border-radius: 10px;

    font-size: 15px;
    padding: 0 12px;
}

/* エラー領域固定 */
.error-area {
    height: 80px;
    margin-top: 8px;

    color: #ff0000;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
}

.error-area p {
    margin: 0;
}

.login-error {
    height: 24px;   /* ←固定 */
    margin: 10px 0 70px; /* ←ボタンとの距離だけ確保 */

    text-align: center;
    color: #ff0000;

    font-size: 18px;
    font-weight: 700;

}

.button-area {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    text-align: center;
}

.login-button {
    width: 180px;
    height: 50px;

    border: none;
    border-radius: 10px;

    background-color: #1f4e79;
    color: white;

    font-size: 16px;
    font-weight: 700;

    cursor: pointer;
    transition: 0.2s;
}

.login-button:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}