<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.assignhub.mapper.AccountMapper">

	<resultMap id="accountResultMap"
		type="com.assignhub.entity.Account">
		<id property="accountId" column="account_id" />
		<result property="loginId" column="login_id" />
		<result property="permission" column="permission" />
		<result property="empName" column="emp_name" />
		<result property="passwordHash" column="password_hash" />
	</resultMap>

	<select id="findAll" resultMap="accountResultMap">
		SELECT a.*, concat(e.last_name , " " , e.first_name)as emp_name
		FROM m_account a
		left JOIN m_employee e ON
		a.account_id = e.emp_id

		<where>
			a.delete_flg = 0

			<if test="keyword != null and keyword != ''">
				AND (
				e.first_name LIKE CONCAT('%', #{keyword}, '%')
				OR e.last_name LIKE CONCAT('%', #{keyword}, '%')
				OR a.login_id LIKE
				CONCAT('%', #{keyword}, '%')
				OR a.account_id LIKE CONCAT('%',
				#{keyword}, '%')
					<!-- ★他に検索対象にしたいカラムがあれば、ここに OR で追加していきます -->
				)
			</if>


			<if test="permission != null">
				AND permission = #{permission}
			</if>
		</where>
		ORDER BY a.account_id ASC
	</select>
	

	<!-- 追加：ログインIDの重複チェック -->
	<select id="existsByLoginId" resultType="boolean">
		SELECT COUNT(*) > 0
		FROM m_account
		WHERE login_id = #{loginId}
	</select>
	<select id="findByIds" resultMap="accountResultMap">
		SELECT a.account_id, a.login_id,a.permission,concat(e.last_name , " " , e.first_name)as emp_name
		FROM m_account a
		left JOIN m_employee e ON
		a.account_id = e.emp_id
		<foreach collection="ids" item="id" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</select>




	<insert id="save" parameterType="com.assignhub.entity.Account">
		INSERT INTO m_account (login_id,
		password_hash, permission, delete_flg)
		VALUES (#{loginId},
		#{passwordHash}, #{permission}, 0)
	</insert>
	
	<update id="delete">
		UPDATE m_account
		SET delete_flg = 1
		WHERE account_id = #{id}
	</update>
	<select id="findByLoginId" resultMap="accountResultMap">
		SELECT *
		FROM m_account
		WHERE login_id = #{loginId}
		  AND delete_flg = 0
	</select>
	
	<update id="update">
		UPDATE m_account
		SET account_Id = #{accountId},
		login_id =#{loginId},
	    permission= #{permission},
		passwordHash = #{passwordHash},
		updated_at = NOW()
		WHERE account_id =#{accountId}
	</update>
</mapper>