<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.assignhub.mapper.CompanyMapper">

	<resultMap id="companyResultMap"
		type="com.assignhub.entity.Company">
		<id property="companyId" column="company_id" />
		<result property="companyName" column="company_name" />
		<result property="companyAddress1" column="company_address1" />
		<result property="companyTel" column="company_tel" />	
		<result property="createdAt" column="created_at" />
		<result property="updatedAt" column="updated_at" />
	</resultMap>

<select id="findAll" resultMap="companyResultMap">
		SELECT *FROM m_company
		<where>
		<if test=" keyword != null and keyword != ''">
			company_name LIKE CONCAT('%', #{keyword}, '%')
		</if>
		</where>
		ORDER BY company_id ASC
	</select>

	<select id="findById" resultMap="companyResultMap">
		SELECT *
		FROM m_company
		WHERE
		company_id = #{id}
	</select>

	<insert id="insert" useGeneratedKeys="true"
		keyProperty="companyId">
		INSERT INTO m_company (
		company_name, created_at,
		updated_at
		) VALUES (
		#{companyName}, NOW(), NOW()
		)
	</insert>
	
	<select id="findByCompanyName" resultType="com.assignhub.entity.Company">
    SELECT * FROM m_company
    WHERE company_name = #{companyName}
    AND delete_flg = 0
    LIMIT 1
</select>
</mapper>