<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.assignhub.mapper.CompanyMapper">

	<resultMap id="companyResultMap"
		type="com.assignhub.entity.Company">
		<id property="companyId" column="company_id" />
		<result property="companyName" column="company_name" />
		<result property="companyAddress1" column="company_address1" />
		<result property="companyTel" column="company_tel" />	
		<result property="createdAt" column="created_at" />
		<result property="updatedAt" column="updated_at" />
	</resultMap>

	<select id="findAll" resultMap="companyResultMap">
		SELECT *
		FROM m_company
		<if test="keyword != null and keyword != ''">
			<where>
				company_name LIKE CONCAT('%', #{keyword}, '%')
			</where>
		</if>
		ORDER BY ${sort} ${order}
	</select>

	<select id="findById" resultMap="companyResultMap">
		SELECT *
		FROM m_company
		WHERE
		company_id = #{id}
	</select>
	<select id="existsByCompanyName" resultType="boolean">
    SELECT COUNT(*) > 0
    FROM m_company
    WHERE company_name = #{companyName}
    <if test="companyId != null">
        AND company_id != #{companyId}
    </if>
</select>


<select id="existsByCompTel" resultType="boolean">
    SELECT COUNT(*) > 0
    FROM m_company
    WHERE company_tel = #{compTel}
    <if test="companyId != null">
        AND company_id != #{companyId}
    </if>
</select>

<select id="existsByFax" resultType="boolean">
    SELECT COUNT(*) > 0
    FROM m_company
    WHERE company_fax = #{fax}
    <if test="companyId != null">
        AND company_id != #{companyId}
    </if>
</select>
	<delete id="delete">
		DELETE FROM m_company
		WHERE company_id = #{id}
	</delete>

	<delete id="deleteBulk">
		DELETE FROM m_company
		WHERE company_id IN
		<foreach collection="ids" item="id" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>

	<insert id="insert" useGeneratedKeys="true" keyProperty="companyId">
    INSERT INTO m_company (
        company_name, company_name_kana,
        company_zipcode, company_address1, company_address2,
        company_tel, company_fax, founded_year, employee_count,
        rep_firstname, rep_lastname, rep_firstname_kana, rep_lastname_kana,
        delete_flg, created_at, updated_at)
    VALUES (
        #{companyName}, #{companyNameKana},
        #{companyZipCode}, #{companyAddress1}, #{companyAddress2},
        #{companyTel}, #{fax}, #{foundedYear}, #{employeeCount},
        #{repFirstName}, #{repLastName}, #{repFirstNameKana}, #{repLastNameKana},
        0, NOW(), NOW()
    )
</insert>
	
	<update id="update">
		UPDATE m_company
		SET company_name = #{companyName},
		company_name_kana = #{companyNameKana};
		company_zipcode = #{companyZipCode};
		company_address1 = #{companyAddress1};
		company_address2 = #{companyAddress2};
		company_tel = #{companyTel};
		company_fax = #{fax};
		founded_year = #{foundedYear},
		employee_count = #{employeeCount};
		rep_firstname = #{repFirstName};
		rep_lastname = #{repLastName};
		rep_firstname_kana = #{repFirstNameKana};
		rep_lastname_kana = #{repLastNameKana};
		delet_flg ={delet_flg};
		updated_at = NOW()
		WHERE company_id = #{companyId}
	</update>
	
	
</mapper>