<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.assignhub.mapper.DeletedAssignMapper">

	<resultMap id="assignmentResultMap"
		type="com.assignhub.entity.Assignment">

		<id property="assignmentId" column="assignment_id"/>

		<result property="empId" column="emp_id" />
		<result property="companyId" column="company_id" />
		<result property="contractStartDate" column="contract_start_date" />
		<result property="contractEndDate" column="contract_end_date" />
		<result property="unitPrice" column="unit_price" />
		<result property="roleId" column="role_id" />
		<result property="deleteFlg" column="delete_flg" />
		<result property="createdAt" column="created_at" />
		<result property="updatedAt" column="updated_at" />

		<association property="employee"
			javaType="com.assignhub.entity.Employee">
			<id property="empId" column="emp_id" />
			<result property="lastName" column="last_name" />
			<result property="firstName" column="first_name" />
			<result property="lastNameKana" column="last_name_kana" />
			<result property="firstNameKana" column="first_name_kana" />
			<result property="engineerType" column="engineer_type" />
			<association property="company"
				javaType="com.assignhub.entity.Company">
				<id property="companyId" column="ec_company_id" />
				<result property="companyName" column="emp_company_name" />
				<result property="companyNameKana" column="emp_company_name_kana" />
			</association>
		</association>

		<association property="company"
			javaType="com.assignhub.entity.Company">
			<id property="companyId" column="company_id" />
			<result property="companyName" column="assign_company_name" />
		</association>

		<association property="role"
			javaType="com.assignhub.entity.Role">
			<id property="roleId" column="role_id" />
			<result property="role" column="role" />
		</association>
	</resultMap>

	<select id="findAll" resultMap="assignmentResultMap">
		SELECT
		a.assignment_id,
		a.emp_id,
		a.company_id,
		a.contract_start_date,
		a.contract_end_date,
		a.unit_price,
		a.role_id,
		a.delete_flg,
		a.created_at,
		a.updated_at,
		e.last_name,
		e.first_name,
		e.last_name_kana,
		e.first_name_kana,
		e.engineer_type,
		c.company_name AS assign_company_name,
		ec.company_id AS ec_company_id,
		ec.company_name AS emp_company_name,
		ec.company_name_kana AS emp_company_name_kana,
		r.role
		FROM t_assignment a
		INNER JOIN m_employee e ON a.emp_id = e.emp_id
		INNER JOIN m_company c ON a.company_id = c.company_id
		LEFT JOIN m_company ec ON e.company_id = ec.company_id
		INNER JOIN m_role r ON a.role_id = r.role_id
		<where>
			a.delete_flg = 1
			<if test="empName != null and empName != ''">
				AND CONCAT(e.last_name, e.first_name) LIKE CONCAT('%', #{empName}, '%')
			</if>
			<if test="assignName != null and assignName != ''">
				AND c.company_name LIKE CONCAT('%', #{assignName}, '%')
			</if>
			<if test="companyName != null and companyName != ''">
				AND ec.company_name LIKE CONCAT('%', #{companyName}, '%')
			</if>
			<if test="contractStartDate != null and contractStartDate != ''">
				AND a.contract_start_date &gt;= #{contractStartDate}
			</if>
			<if test="contractEndDate != null and contractEndDate != ''">
				AND (a.contract_end_date &lt;= #{contractEndDate} OR a.contract_end_date IS NULL)
			</if>
		</where>
		ORDER BY a.assignment_id
	</select>

	<select id="findAllByIds" resultMap="assignmentResultMap">
		SELECT
		a.assignment_id,
		a.emp_id,
		a.company_id,
		a.contract_start_date,
		a.contract_end_date,
		a.unit_price,
		a.role_id,
		a.delete_flg,
		a.created_at,
		a.updated_at,
		e.last_name,
		e.first_name,
		e.last_name_kana,
		e.first_name_kana,
		e.engineer_type,
		c.company_name AS assign_company_name,
		ec.company_id AS ec_company_id,
		ec.company_name AS emp_company_name,
		ec.company_name_kana AS emp_company_name_kana,
		r.role
		FROM t_assignment a
		INNER JOIN m_employee e ON a.emp_id = e.emp_id
		INNER JOIN m_company c ON a.company_id = c.company_id
		LEFT JOIN m_company ec ON e.company_id = ec.company_id
		INNER JOIN m_role r ON a.role_id = r.role_id
		WHERE a.delete_flg = 1
		AND a.assignment_id IN
		<foreach item="item" collection="ids" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

	<update id="restore">
		UPDATE t_assignment
		SET delete_flg = 0
		WHERE assignment_id = #{id} AND delete_flg = 1
	</update>
	
	<update id="restoreBulk">
		UPDATE t_assignment
		SET delete_flg = 0
		WHERE assignment_id IN
		<foreach item="id" collection="ids" open="(" separator="," close=")">
			#{id}
		</foreach>
		AND delete_flg = 1
	</update>
	
	<select id="countActiveAssigns" resultType="int">
		SELECT COUNT(*)
		FROM m_company
		WHERE delete_flg = 0
	</select>

	<select id="countDuplicate" resultType="int">
		SELECT COUNT(*)
		FROM t_assignment
		WHERE delete_flg = 0
		AND emp_id = #{empId}
		AND company_id = #{companyId}
		AND contract_start_date = #{contractStartDate}
		AND (
			contract_end_date = #{contractEndDate}
			OR (contract_end_date IS NULL AND #{contractEndDate} IS NULL)
		)
		<if test="assignmentId != null">
			AND assignment_id != #{assignmentId}
		</if>
	</select>

	<delete id="physicalDelete">
		DELETE FROM t_assignment
		WHERE assignment_id = #{id}
	</delete>

	<delete id="physicalDeleteBulk">
		DELETE FROM t_assignment
		WHERE assignment_id IN
		<foreach item="id" collection="ids" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<select id="countcompanysdispatchsByAssignId" resultType="int">
		SELECT COUNT(*)
		FROM t_assignment a
		INNER JOIN m_company c ON a.company_id = c.company_id
		WHERE a.assignment_id = #{id}
		AND c.delete_flg = 1
	</select>

	<select id="countcompanysdispatchsByAssignIds" resultType="int">
		SELECT COUNT(*)
		FROM t_assignment a
		INNER JOIN m_company c ON a.company_id = c.company_id
		WHERE c.delete_flg = 1
		AND a.assignment_id IN
		<foreach item="id" collection="ids" open="(" separator="," close=")">
			#{id}
		</foreach>
	</select>

	<select id="countcompanyspartnerByAssignId" resultType="int">
		SELECT COUNT(*)
		FROM t_assignment a
		INNER JOIN m_employee e ON a.emp_id = e.emp_id
		INNER JOIN m_company ec ON e.company_id = ec.company_id
		WHERE a.assignment_id = #{id}
		AND ec.delete_flg = 1
	</select>

	<select id="countcompanyspartnerByAssignIds" resultType="int">
		SELECT COUNT(*)
		FROM t_assignment a
		INNER JOIN m_employee e ON a.emp_id = e.emp_id
		INNER JOIN m_company ec ON e.company_id = ec.company_id
		WHERE ec.delete_flg = 1
		AND a.assignment_id IN
		<foreach item="id" collection="ids" open="(" separator="," close=")">
			#{id}
		</foreach>
	</select>

	<select id="countEmployeesproperByAssignId" resultType="int">
		SELECT COUNT(*)
		FROM t_assignment a
		INNER JOIN m_employee e ON a.emp_id = e.emp_id
		WHERE a.assignment_id = #{id}
		AND e.engineer_type = 0
		AND e.delete_flg = 1
	</select>

	<select id="countEmployeesproperByAssignIds" resultType="int">
		SELECT COUNT(*)
		FROM t_assignment a
		INNER JOIN m_employee e ON a.emp_id = e.emp_id
		WHERE e.delete_flg = 1
		AND e.engineer_type = 0
		AND a.assignment_id IN
		<foreach item="id" collection="ids" open="(" separator="," close=")">
			#{id}
		</foreach>
	</select>

	<select id="countEmployeespartnerByAssignId" resultType="int">
		SELECT COUNT(*)
		FROM t_assignment a
		INNER JOIN m_employee e ON a.emp_id = e.emp_id
		WHERE a.assignment_id = #{id}
		AND e.engineer_type = 1
		AND e.delete_flg = 1
	</select>

	<select id="countEmployeespartnersByAssignIds" resultType="int">
		SELECT COUNT(*)
		FROM t_assignment a
		INNER JOIN m_employee e ON a.emp_id = e.emp_id
		WHERE e.delete_flg = 1
		AND e.engineer_type = 1
		AND a.assignment_id IN
		<foreach item="id" collection="ids" open="(" separator="," close=")">
			#{id}
		</foreach>
	</select>

</mapper>