<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.assignhub.mapper.EmployeeMapper">

	<resultMap id="employeeResultMap"
		type="com.assignhub.entity.Employee">
		<id property="empId" column="emp_id" />
		<result property="lastName" column="last_name" />
		<result property="firstName" column="first_name" />
		<result property="lastNameKana" column="last_name_kana" />
		<result property="firstNameKana" column="first_name_kana" />
		<result property="hireDate" column="hire_date" />
		<result property="yearsOfService" column="years_of_servise" />
		<result property="BirthDate" column="birth_date" />
		<result property="zipCode" column="zip_code" />
		<result property="address1" column="address1" />
		<result property="address2" column="address2" />
		<result property="engineerType" column="engineer_type" />
		<result property="accountId" column="account_id" />
		<result property="companyId" column="company_id" />
		<result property="companyName" column="company_name_belong" />
		<result property="companyNameAssign" column="company_name_assign" />
		<result property="department" column="department" />
		<result property="jobTitle" column="job_title" />
		<result property="empTel" column="emp_tel" />
		<result property="email" column="email" />
		<result property="deleteFlg" column="delete_flg" />
		<result property="createdAt" column="created_at" />
		<result property="updatedAt" column="updated_at" />
		<result property="contractStartDate" column="contract_start_date_assign" />
		<result property="contractEndDate" column="contract_end_date_assign" />
		<result property="unitPrice" column="unit_price_assign" />
		<result property="loginId" column="login_id" />


	</resultMap>

	<select id="findAll" resultMap="employeeResultMap">
		SELECT e.*,
		c.company_name AS company_name_belong,
		c2.company_name AS company_name_assign
		FROM m_employee e
		LEFT JOIN m_company c
		ON
		e.company_id = c.company_id
		LEFT JOIN t_assignment a
		ON a.emp_id =
		e.emp_id
		AND a.contract_end_date is null
		LEFT JOIN m_company c2
		ON a.company_id = c2.company_id
		<if test="keyword != null and keyword != ''">
			<where>
				emp_name LIKE CONCAT('%', #{keyword}, '%')
			</where>
		</if>
		ORDER BY ${sort} ${order}
	</select>

	<select id="findById" resultMap="employeeResultMap">
		SELECT e.*,
		c.company_name AS company_name_belong,
		c2.company_name AS company_name_assign,
		ac.login_id AS login_id,
		a.contract_start_date AS contract_start_date_assign,
		a.contract_end_date AS contract_end_date_assign,
		a.unit_price AS unit_price_assign
		FROM m_employee e
		LEFT JOIN m_company c ON e.company_id = c.company_id
		LEFT JOIN t_assignment a ON a.emp_id = e.emp_id AND a.contract_end_date IS
		NULL
		LEFT JOIN m_company c2 ON a.company_id = c2.company_id
		LEFT JOIN m_account ac ON e.account_id = ac.account_id
		WHERE e.emp_id = #{id}
	</select>

	<insert id="insert" useGeneratedKeys="true" keyProperty="empId">
		INSERT
		INTO m_employee (
		emp_name, hire_year, created_at, updated_at
		) VALUES (
		#{empName}, #{hireYear}, NOW(), NOW()
		)
	</insert>
</mapper>
